@import "tailwindcss";

@layer base {

  @font-face {
    font-family: "DM bold";
    src: url("../public/fonts/DM-bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "DM regular";
    src: url("../public/fonts/DM-regular.woff2") format("woff2");
  }

  @font-face {
  font-family: "DM semi";
  src: url("../public/fonts/DM-semi.woff2") format("woff2");
  }

  @font-face {
    font-family: "Epi black";
    src: url("../public/fonts/Epi-black.woff2") format("woff2");
  }

  @font-face {
    font-family: "Epi italic";
    src: url("../public/fonts/Epi-italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Epi regular";
    src: url("../public/fonts/Epi-regular.woff2") format("woff2");
  }
}

@theme {
  --font-DMbold: "DM bold", sans-serif;
}

@theme {
  --font-DMregular: "DM regular", sans-serif;
}

@theme {
  --font-DMsemi: "DM semi", sans-serif;
}

@theme {
  --font-Epiblack: "Epi black", sans-serif;
}

@theme {
  --font-Epiitalic: "Epi italic", sans-serif;
}

@theme {
  --font-Epiregular: "Epi regular", sans-serif;
}
